.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  margin: 10px 2px;
}

fieldset {
  margin-bottom: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.albumsContainer {
  display: flex;
  /*justify-content: center;*/
}
.albumContainer {
  padding: 5px;
  border: 1px solid rgb(222, 222, 222);
  margin-bottom: 5px;
  width: 600px;
}

.delBtn {
  padding: 0;
  border: 1px solid;
  border-radius: 3px;
  color: #444444;
  cursor: pointer;
  background-color: white;
}

.delBtn:hover {
  background-color: rgba(255,0,0);
}

fieldset input {
  width: 300px;
  line-height: 20px;
  font-size: 16px;
}


