/* You can add global styles to this file, and also import other style files */

a {
  font-size: 20px;
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.addBtn {
  margin-top: 10px;

}

button {
  cursor: pointer;
  font-size: 14px;
  padding: 6px 10px 6px 10px;
  border: none;
  border-radius: 2px;
  background-color: #1d7ae4;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.photos-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
}
